<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Lower Speck {{ page.version }}</title>
    <meta property="og:title" content="Lower Speck {{ page.version }}" />
    <meta name="author" content="Daniel Kuck-Alvarez" />
    <meta name="description" content="Lower Speck requirements management" />
    <meta property="og:description" content="Lower Speck requirements management" />
    <link rel="canonical" href="http://www.lowerspeck.org/" />
    <meta property="og:url" content="http://lowerspeck.org/" />
    <meta property="og:site_name" content="Lower Speck" />

  </head>
  <body>
  {{ content }}
  </body>
</html>
